.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding-top: 20px;
}
